[submodule "libs/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/soil"]
	path = deps/soil
	url = https://github.com/paralin/soil.git
[submodule "deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "deps/cgal"]
	path = deps/cgal
	url = https://github.com/CGAL/cgal.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp.git
[submodule "deps/pybind11"]
	path = deps/pybind11
	url = https://github.com/wjakob/pybind11.git
[submodule "deps/lua"]
	path = deps/lua
	url = https://github.com/lua/lua.git
